<div class="box">
<div class="container text-center mt-5 col-lg-6">
  <h2>Counter</h2>
  <h1>{{counter}}</h1>
  <div class="row mt-5">
    <div class="col-lg-4 mt-2">
      <button class="btn col-lg-12 btn-12 btn-success" (click)="increaseBtn()"><i class="bi-plus"></i>
      </button>
    </div>
    <div class="col-lg-4 mt-2">
      <button class="btn col-lg-12 btn-12 btn-danger" (click)="dicreaseBtn()"><i class="bi-dash"></i>
      </button>
    </div>
    <div class="col-lg-4 mt-2">
      <button class="btn col-lg-12 btn-12 btn-primary" (click)="resetBtn()"><i class="bi bi-bootstrap-reboot"></i>
      </button>
    </div>
  </div>
</div>